---
import { Picture, Image } from "astro:assets";
import landingImage from "../images/landing.webp";
import BaseLayout from "../layouts/BaseLayout.astro";
import LandingHeader from "../components/LandingHeader.astro";
---

<BaseLayout title="CMU SSA">
	<LandingHeader />
	<Image
		src={landingImage}
		alt="CMU SSA, HKSA and FSA members pose with their Booth trophy."
		style="width: 100%; object-fit: cover"
		loading="eager"
	/>
	<main>
		<p>
			The Carnegie Mellon University Singapore Students Association (CMU
			SSA) is a student organization representing Singaporean students at
			Carnegie Mellon University in Pittsburgh, Pennsylvania. We aim to
			showcase Singaporean culture and provide a social space and support
			network for Singaporean students. If you are an admitted student and
			wish to join our Telegram group, email us at
			<a href="mailto:ssa@andrew.cmu.edu">ssa@andrew.cmu.edu</a> or DM us on
			Instagram at
			<a href="https://www.instagram.com/cmu.ssa/">@cmu.ssa</a>.
		</p>

		<hr />

		<section>
			<h2>Upcoming Event: First-Year Webinar</h2>
			<p>
				We will be hosting our annual webinar for incoming first-year
				students to share more about our experiences at CMU and answer
				any questions you may have.
			</p>
			<p>
				<b>Time (SGT):</b> 10am, 9 June 2024<br />
				<b>Time (EDT):</b> 10pm, 8 June 2024<br />
				<b>Location:</b> Virtual; link will be sent via Telegram
			</p>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgba(0, 0, 0, 0.8);
		font-size: 20px;
		line-height: 1.6;
	}
	.maintitle {
		font-family: "EB Garamond", serif;
		font-size: 3rem;
		font-weight: 400;
	}
	.subtitle {
		font-family: "EB Garamond", serif;
		font-size: 2.3rem;
		font-weight: 450;
	}
	h2 {
		font-family: "Source Sans 3", sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top: 1rem;
		color: rgba(0, 0, 0, 0.5);
	}
	b {
		font-weight: 600;
		color: rgba(0, 0, 0, 0.5);
	}
	a {
		color: #c41230;
		text-decoration: none;
	}
</style>
