---
import Layout from '../layouts/Layout.astro';
---

<Layout title="CMU SSA">
	<main>
		<h1><span class="maintitle">Singaporean Students Association</span><br>
			<span class="subtitle">at Carnegie Mellon University</span></h1>
		<p>
			The Carnegie Mellon University Singapore Students Association (CMUSSA) is a 
			student organization representing all Singaporean students at Carnegie Mellon
			University in Pittsburgh, Pennsylvania. We aim to showcase Singaporean culture and
			provide a social space and support network for Singaporean students.

			If you are an admitted student and wish to join our Telegram group, email us at 
			<a href="mailto:ssa@andrew.cmu.edu">ssa@andrew.cmu.edu</a> or DM us on Instagram at 
			<a href="https://www.instagram.com/cmu.ssa/">@cmu.ssa</a>!
		</p>
		
		<hr>

		<h2>Upcoming Event: First-Year Webinar</h2>
		<p>
			We will be hosting our annual webinar for incoming first-year students to share 
			more about our experiences at CMU and answer any questions you may have.
		</p>
		<p>
			<b>Time (SGT):</b> 10am, 9 June 2024<br>
			<b>Time (EDT):</b> 10pm, 8 June 2024<br>
			<b>Location:</b> Virtual
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgba(0, 0, 0, 0.8);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.maintitle {
		font-family: 'Source Serif 4', serif;
		font-size: 3rem;
		font-weight: 500;
		font-variation-settings: 'opsz' 60;
	}
	.subtitle {
		font-family: 'Source Serif 4', serif;
		font-size: 2rem;
		font-weight: 500;
		font-variation-settings: 'opsz' 40;
	}
	h2 {
		font-family: 'Source Serif 4', serif;
		font-size: 1.5rem;
		font-weight: 500;
		font-variation-settings: 'opsz' 30;
		margin-top: 1rem;
	}
	h3 {
		font-family: 'Source Serif 4', serif;
		font-size: 1.5rem;
		font-weight: 550;
		font-variation-settings: 'opsz' 22;
		margin-top: 1rem;
	}
	b {
		font-weight: 600;
	}
	a {
		color: red;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
